@font-face {
    font-family: "Raleway-Thin";
    src: url("Raleway-Regular.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Raleway-Thin-Italic";
    src: url("Raleway-LightItalic.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Raleway-Extra-Light";
    src: url("Raleway-ExtraLight.ttf") format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "Raleway-Extra-Light-Italic";
    src: url("Raleway-ExtraLightItalic.ttf") format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("Raleway-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Raleway-Light-Italic";
    src: url("Raleway-LightItalic.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("Raleway-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("Raleway-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Raleway-Medium-Italic";
    src: url("Raleway-MediumItalic.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("Raleway-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Raleway-SemiBold-Italic";
    src: url("Raleway-SemiBoldItalic.ttf") format('truetype');
    font-weight: 600;
}


@font-face {
    font-family: "Raleway-Bold";
    src: url("Raleway-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Raleway-Bold-Italic";
    src: url("Raleway-BoldItalic.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("Raleway-ExtraBold.ttf") format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: "Raleway-ExtraBold-Italic";
    src: url("Raleway-ExtraBoldItalic.ttf") format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: "Raleway-Black";
    src: url("Raleway-Black.ttf") format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: "Raleway-Black-Italic";
    src: url("Raleway-BlackItalic.ttf") format('truetype');
    font-weight: 900;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway-Regular';
}